* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9f9;
}
button {
  cursor: pointer;
  font-weight: 600;
  color: #f8f9f9;
  font-size: 14px;
}
button:hover {
  filter: brightness(85%);
}
/* HEADER */
h1 {
  margin: 50px 0 30px 0;
  font-size: 40px;
  color: #cb1b24;
}
/* FORM */
.form {
  margin: 20px 0;
}
.form input {
  width: 70%;
  height: 29px;
  padding-left: 5px;
  color: #cb1b24;
  border: 1px solid black;
  cursor: text;
}
.form button {
  padding: 5px;
  width: 30%;
  background-color: greenyellow;
  color: grey;
}
/* LIST */
.list {
  width: 300px;
}
li {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li p {
  padding: 5px;
  color: #cb1b24;
  font-weight: 700;
}
li button {
  padding: 5px;
}
.edit-button {
  background-color: orange;
}
.delete-button {
  background-color: orangered;
}
